@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

main {
  background: #eee;
}
.seating {
  background-color: var(--yellow);
}

.seating__col {
  flex: 1 0 calc(100% / 10);
  max-width: calc(100% / 10);
}

.seating__item {
  transition: 0.3s ease;
  cursor: pointer;
  background-color: var(--yellow);
}

.seating__item.disabled {
  cursor: auto;
  color: white;
  background-color: var(--red);
}

.widget-cb .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.widget-cb .modal.show {
  opacity: 1;
  pointer-events: auto;
}
